@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    //-webkit-overflow-scrolling: touch !important;
    overflow-y: hidden;
    //overflow-x: scroll;
    //overflow-y: scroll;
}

.scroll {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    overflow-x: scroll;
    display:flex;
}
.m {
    background: yellow;
    flex:1;
    display: flex;
    flex-direction: row;
    //height: 100vh;
    width: 200vw;
    min-width: 200vw;
    overflow:hidden;
    .p {
        background: #ccc;
        flex: 1;
        display: flex;
        overflow:hidden;
        &:nth-child(2) {
            background: #444;
            background: #ffd32a;
        }
        .b {
            flex: 1;
            background: white;
            position: relative;
            overflow:hidden;
            overflow-y: scroll;
        }
    }
}

#driverApp {
    background: #ffd32a;

    .profile {
        padding:20px 0;
        img.profile_image {
            display:block;
            margin:0 auto;
            border:3px solid #b59416;
            border-radius:100%;
            width:100px;
        }
        h4 {
            text-transform: uppercase;
            font-size:14px;
            font-weight:bold;
            text-align:center;
            letter-spacing:-0.5px;
            padding-top:10px;
        }
        .online_toggle {
            text-align:center;
            padding-top:10px;
            cursor:default;
        }
    }
    .rest {
        background:#fff;
        border-radius:20px 20px 0 0;
        padding:20px;
        pre {
            margin:0;
            font-size:12px;
            font-family:courier, courier new, serif;
            padding:10px;
            border:1px solid #b59416;
            margin:10px 0;
            display:block;
        }
    }
}


#rider {
    display: flex;
    flex-direction: column;
    position:relative;
    main {
        flex: 0 0 60%;
        display: flex;
        header {
            position:absolute;
            top:0;
            left:0;
            right:0;
            padding:10px;
            //background:rgba(0,0,0,.4);
            overflow:hidden;
            pointer-events: none;
            z-index:999;
            > div {
                pointer-events:all;
                float:left;
                background:#fff;
                border-radius:40px;
                line-height:40px;
                padding:0 10px;
                height:40px;
                &:last-child {
                    float:right;
                    width:40px;
                    text-align:center;
                    padding:0;
                }
            }
        }
        figure {
            flex: 1;
        }
    }
    footer {
        flex: 0 0 40%;
        position: relative;
        padding: 0 16px;
        background: #ffd32a;
        .top {
            background: inherit;
            height: 16px;
            left: 0;
            right: 0;
            border-radius: 10px 10px 0 0;
            position: absolute;
            top: -16px;
        }
    }
}

.input-wrap {
    >img {
        display:block;
        position:absolute;
        height:32px;
        right:20px;
        top:4px;
        cursor:pointer;
        &.loading {
            opacity:.3;
        }
    }
}
input[type="text"],
button {
    height: 40px;
    line-height: 40px;
    border: 0 solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

button {
    margin-top: 10px;
}

#online {
    margin-top: 10px;
}

#journey {
    padding-top: 10px;
    color: #7b640b;
}

#requests {
    margin-top: 10px;
    border: 1px solid #7b640b;
    border-radius: 5px;
    padding: 5px;
    min-height: 20px;
}

#rideRequests {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 999;
    display: block;

    &.hidden {
        display: none;
    }

    .rideRequest {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        border-radius: 5px;
        background: #fff;
    }
}